<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Event</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add-event.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.8/dist/sweetalert2.min.css" rel="stylesheet">
    <!--   <script defer src="{{ url_for('static', filename='js/add-event.js') }}"></script>--> 
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flash-messages" style="display:none;">
                {% for category, message in messages %}
                    <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div class="container">
        <!-- Event Form Section -->
        <div class="event-form-container">
            <div class="form-section">
                <div class="image-placeholder">
                    <img id="profileImage" src="{{ url_for('static', filename='Files/team_mang.png') }}" alt="Adjustable Image">
                </div>
                <form id="eventForm" action="/addevent" method="POST">
                    <input type="text" id="eventName" name="eventName"placeholder="EVENT NAME" required>
                    <input type="text" id="eventPlace" name="eventPlace" placeholder="PLACE" required>
                    <input type="date" id="eventDate" name="eventDate" required>
                    <textarea id="eventDescription" name="eventDescription" placeholder="DESCRIPTION" required></textarea>
                    <button type="submit">CREATE</button>
                </form>
            </div>
        </div>

        <!-- Image Upload Section -->
        <div class="image-upload-section">
            <div class="main-image-preview">
                <img id="mainImage" src="images/placeholder.jpg" alt="Adjustable Image">
            </div>
            <div class="image-thumbnails" id="imageThumbnails">
                <!-- Thumbnails will be dynamically added here -->
            </div>
            <input type="file" id="imageUpload" accept="image/*" multiple>
            <button onclick="uploadImages()">UPLOAD</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.all.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
