<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.8/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flash-messages" style="display:none;">
                {% for category, message in messages %}
                    <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    <div class="container">
        <div class="image-section">
            <img src="{{ url_for('static', filename='Files/tm1.png') }}" alt="Placeholder Image">
        </div>
        <div class="form-section">
            <h1>TeamMang</h1>
            
            <form action="/login" method="POST" id="loginform">
                <input type="email" name="email" placeholder="Username (Email)">
                <input type="password" name="password" placeholder="Password">
                <button type="submit" class="login-btn">Login</button>
            </form>
            
            <form action="{{ url_for('register.register') }}" method="get" class="signup-btn">
                <button type="submit" class="signup">Sign Up</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.all.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
